.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1.5px solid #5ce3fe;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #3e4746;
  flex-wrap: wrap;
}

.card-container .card-left-container {
  margin-right: 2rem;
  /* width: 40%; */
  flex: 0 0 350px; /* fixed width for the container */
  max-width: 100%;
  /* max-width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container .card-right-container {
  /* margin-right: 2rem; */
  flex: 1;
  max-width: 65%;
}

.card-container .card-left-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.card-container .card-right-container .same {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-container .card-right-container .blog-heading {
  font-weight: 500;
  font-size: 2.5rem;
}

.card-container .card-right-container .blog-content {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-container .card-right-container .blog-date {
  background: -webkit-linear-gradient(#5de5f8, #6affaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.card-container .card-right-container .blog-tags {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

/* .card-container .card-right-container .more-option {
  display: flex;
  flex-direction: row;
  gap : 1rem;
} */

.card-container .modal-heading {
  background: -webkit-linear-gradient(#5de5f8, #6affaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700 !important;
  font-size: 3rem !important;
} 

.card-container .content {
  max-width: 80vw !important;
}

.card-container .read-more:hover{
  /* background: red !important; */
  color: #6affaf !important;
}

@media screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .card-left-container,
  .card-right-container {
    width: 100%;
    max-width: 100%;
  }
}

.like-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-modal-content {
  position: relative;
  /* background-color: white; */
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  overflow: auto;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.like-button:hover {
  background-color: #ddd;
}

.like-type {
  display: flex;
  gap: .2rem;
  align-items: center;
}

.like-type .like-number {
  font-size: 1.2rem
}