.ConnectWalletPage {
  text-align: center;
}

.ConnectWalletPage .ConnectWalletPage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ConnectWalletPage .ConnectWalletPage-header .btn-self {
    display: flex;
    align-items: center;
    justify-content: center;
}