.ProfilePage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ProfilePage .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#6affaf, #5ce3fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}